.jumbotron .jumbotron-preview .para {
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 0.02rem;
  color: rgb(228.5, 228.5, 228.5);
}
@media (max-width: 767px) {
  .jumbotron .jumbotron-preview .para {
    font-size: 16px;
    line-height: 24px;
  }
}

.contact .card .para, .visit .visit-info .info-item .info, .menu .menu-item .card .card-item .item-preview .item-desc, .menu .para, .about .about-item .card .para {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01rem;
  color: #b9ab9d;
}
@media (max-width: 767px) {
  .contact .card .para, .visit .visit-info .info-item .info, .menu .menu-item .card .card-item .item-preview .item-desc, .menu .para, .about .about-item .card .para {
    font-size: 14px;
    line-height: 20px;
  }
}

.contact .card, .menu .menu-item .card, .about .about-item .card {
  padding: 32px;
  display: flex;
  flex-direction: column;
  background-color: #2c2117;
  border: 1px solid rgba(44, 33, 23, 0.3);
  border-radius: 8px;
}
.contact .card .title, .menu .menu-item .card .title, .about .about-item .card .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.02rem;
  color: #fefefe;
  display: inline-block;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.display-flex {
  display: flex !important;
}

* {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #221910;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #ccc;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 8px;
  padding: 8px 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn.btn-1 {
  background-color: #ec7f13;
  border: 1px solid #ec7f13;
  color: #000;
}
.btn.btn-1:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(141.6, 76.2, 11.4, 0.5);
}
.btn.btn-1:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(236, 127, 19, 0.3);
}
.btn.btn-2 {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid rgba(254, 254, 254, 0.5);
  color: #fefefe;
}
.btn.btn-2:hover {
  background-color: rgba(254, 254, 254, 0.1);
  border-color: rgba(254, 254, 254, 0.8);
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(254, 254, 254, 0.2);
}
.btn.btn-2:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(254, 254, 254, 0.1);
}
.btn.btn-lg {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 24px;
}
@media (max-width: 767px) {
  .btn {
    padding: 4px 16px;
    font-size: 14px;
  }
  .btn.btn-lg {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 20px;
  }
}

.btn-group-center {
  text-align: center;
}
.btn-group-center .btn {
  margin: 0 6px;
}

/* image-container */
.image-container {
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease;
}
.image-container:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 75%;
}
.image-container .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.image-container:hover .image {
  transform: scale(1.1);
}

/* block*/
.block {
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .block {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .block {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .block {
    margin-bottom: 20px;
  }
}
.block .section-title {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.block .section-title .title {
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
  color: #fefefe;
}
@media (max-width: 767px) {
  .block .section-title .title {
    font-size: 32px;
    line-height: 48px;
  }
}
.block .section-title:after {
  content: "";
  width: 56px;
  height: 4px;
  background-color: #ec7f13;
  border-radius: 2px;
}
@media (max-width: 767px) {
  .block .section-title:after {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .block .section-title {
    align-items: center;
  }
}

/* navbar */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  background-color: #221910;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header:after {
  content: "";
  width: 100%;
  height: 2px;
  z-index: 100;
  background-color: #2c2117;
  box-shadow: 0 0 8px #221910;
}
@media (max-width: 425px) {
  .header {
    height: 60px;
    margin-bottom: 8px;
  }
}
.header .navbar {
  width: 100%;
  height: 72px;
  padding-left: 32px;
  padding-right: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .header .navbar {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .header .navbar {
    height: 64px;
    padding-right: 16px;
  }
}
@media (max-width: 575px) {
  .header .navbar {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 425px) {
  .header .navbar {
    flex-wrap: wrap;
    padding-right: 8px;
    height: 44px;
  }
}
@media (max-width: 991px) {
  .header .navbar .brand {
    max-width: 230px;
  }
}
@media (max-width: 767px) {
  .header .navbar .brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 100%;
    max-width: 208px;
    z-index: 1;
  }
}
@media (max-width: 425px) {
  .header .navbar .brand {
    max-width: 160px;
  }
}
.header .navbar .brand .brand-btn {
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
}
.header .navbar .brand .brand-btn .icon {
  width: 32px;
  height: 36px;
  background-color: #ec7f13;
  border-radius: 4px;
  margin-right: 16px;
  transition: all 0.2s ease;
}
@media (max-width: 767px) {
  .header .navbar .brand .brand-btn .icon {
    width: 28px;
    height: 32px;
    margin-right: 12px;
  }
}
@media (max-width: 425px) {
  .header .navbar .brand .brand-btn .icon {
    width: 16px;
    height: 18px;
    margin-right: 4px;
  }
}
.header .navbar .brand .brand-btn .brand-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  padding-top: 4px;
  color: #fefefe;
}
@media (max-width: 767px) {
  .header .navbar .brand .brand-btn .brand-name {
    font-size: 22px;
  }
}
@media (max-width: 425px) {
  .header .navbar .brand .brand-btn .brand-name {
    font-size: 18px;
    padding-top: 2px;
  }
}
.header .navbar .navbar-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  transition: all 0.2s;
}
.header .navbar .navbar-nav .close-btn {
  background-color: #2c2117;
  box-shadow: 0 2px 20px 2px rgba(254, 254, 254, 0.2);
  border-radius: 50%;
  position: absolute;
  display: none;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 52px;
  width: 52px;
}
.header .navbar .navbar-nav .close-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 2px;
  background-color: #fff;
}
.header .navbar .navbar-nav .close-btn span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header .navbar .navbar-nav .close-btn span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width: 991px) {
  .header .navbar .navbar-nav .close-btn {
    display: block;
  }
}
@media (max-width: 991px) {
  .header .navbar .navbar-nav {
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: #2c2117;
    border: 1px solid rgba(44, 33, 23, 0.3);
    border-radius: 8px;
    background-color: #2c2117;
    padding: 0;
    position: fixed;
    height: 0;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    flex-direction: row;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }
  .header .navbar .navbar-nav .title {
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.02rem;
    color: #fefefe;
    display: inline-block;
  }
  .header .navbar .navbar-nav.active {
    height: 72px;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 991px) and (max-width: 425px) {
  .header .navbar .navbar-nav.active {
    height: 280px;
  }
}
@media (max-width: 425px) {
  .header .navbar .navbar-nav {
    flex-direction: column;
    top: 16px;
    width: 200px;
  }
}
.header .navbar .navbar-nav .nav-item {
  --nav-link-padding: 20px;
}
@media (max-width: 767px) {
  .header .navbar .navbar-nav .nav-item {
    --nav-link-padding: 16px;
  }
}
.header .navbar .navbar-nav .nav-item:hover .nav-link, .header .navbar .navbar-nav .nav-item.active .nav-link {
  color: #fefefe;
}
.header .navbar .navbar-nav .nav-item:hover .nav-link::after, .header .navbar .navbar-nav .nav-item.active .nav-link::after {
  width: calc(100% - var(--nav-link-padding) * 2);
}
.header .navbar .navbar-nav .nav-item .nav-link {
  display: inline-block;
  width: 100%;
  color: #cbcbcb;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02rem;
  padding: var(--nav-link-padding);
  transition: all 0.2s ease;
  position: relative;
}
.header .navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: calc(var(--nav-link-padding) - 4px);
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 2px;
  background-color: #ec7f13;
  border-radius: 2px;
  transition: width 0.2s ease;
}
.header .navbar .order-btn-container {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .header .navbar .order-btn-container {
    flex-grow: 1;
  }
}
@media (max-width: 767px) {
  .header .navbar .order-btn-container {
    justify-content: flex-start;
  }
}
.header .navbar .order-btn-container .order-btn {
  margin-left: 16px;
  max-width: 140px;
}
@media (max-width: 991px) {
  .header .navbar .order-btn-container .order-btn {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .header .navbar .order-btn-container .order-btn {
    order: -1;
  }
}
@media (max-width: 575px) {
  .header .navbar .order-btn-container .order-btn {
    width: 56px;
    padding: 2px 0;
    line-height: 16px;
    white-space: wrap;
  }
}
@media (max-width: 425px) {
  .header .navbar .order-btn-container .order-btn {
    width: 48px;
    font-size: 12px;
    line-height: 14px;
  }
}
.header .navbar .nav-btn {
  display: none;
  width: 48px;
  height: 48px;
  margin-left: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.header .navbar .nav-btn span {
  width: 36px;
  height: 2px;
  background-color: #fefefe;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}
.header .navbar .nav-btn span:nth-child(1) {
  top: 25%;
}
.header .navbar .nav-btn span:nth-child(2) {
  top: 50%;
}
.header .navbar .nav-btn span:nth-child(3) {
  top: 75%;
}
.header .navbar .nav-btn:hover {
  transform: scale(1.1);
}
.header .navbar .nav-btn:hover span {
  background-color: #ec7f13;
}
@media (max-width: 991px) {
  .header .navbar .nav-btn {
    display: block;
  }
}
@media (max-width: 767px) {
  .header .navbar .nav-btn {
    width: 44px;
    height: 44px;
    margin-left: 0;
  }
  .header .navbar .nav-btn span {
    width: 32px;
  }
}
@media (max-width: 425px) {
  .header .navbar .nav-btn span {
    width: 28px;
  }
  .header .navbar .nav-btn span:nth-child(1) {
    top: 30%;
  }
  .header .navbar .nav-btn span:nth-child(2) {
    top: 50%;
  }
  .header .navbar .nav-btn span:nth-child(3) {
    top: 70%;
  }
}

/* jumbotron */
.jumbotron {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .jumbotron {
    margin-top: 90px;
  }
}
@media (max-width: 575px) {
  .jumbotron {
    margin-top: 80px;
  }
}
.jumbotron .image-container {
  border-radius: 16px;
  overflow: hidden;
}
.jumbotron .image-container:before {
  width: 100%;
  padding-top: 60%;
}
@media (max-width: 767px) {
  .jumbotron .image-container:before {
    padding-top: 60%;
    border-radius: 8px;
  }
}
@media (max-width: 575px) {
  .jumbotron .image-container:before {
    padding-top: 80%;
  }
}
@media (max-width: 425px) {
  .jumbotron .image-container:before {
    padding-top: 120%;
  }
}
.jumbotron .jumbotron-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jumbotron .jumbotron-preview .title {
  max-width: 90%;
  margin-bottom: 20px;
  font-size: 72px;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: -0.02rem;
  color: #fefefe;
  text-align: center;
}
@media (max-width: 991px) {
  .jumbotron .jumbotron-preview .title {
    font-size: 56px;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .jumbotron .jumbotron-preview .title {
    font-size: 42px;
    line-height: 80px;
  }
}
@media (max-width: 575px) {
  .jumbotron .jumbotron-preview .title {
    line-height: 48px;
    margin-bottom: 16px;
  }
}
@media (max-width: 425px) {
  .jumbotron .jumbotron-preview .title {
    margin-bottom: 24px;
  }
}
.jumbotron .jumbotron-preview .para {
  text-justify: auto;
  text-align: center;
  margin-bottom: 48px;
  max-width: 800px;
}
@media (max-width: 991px) {
  .jumbotron .jumbotron-preview .para {
    max-width: 600px;
    margin-bottom: 36px;
  }
}
@media (max-width: 767px) {
  .jumbotron .jumbotron-preview .para {
    max-width: 400px;
    margin-bottom: 28px;
  }
}
@media (max-width: 575px) {
  .jumbotron .jumbotron-preview .para {
    max-width: 80%;
  }
}
.jumbotron .btn {
  width: 140px;
}
@media (max-width: 767px) {
  .jumbotron .btn {
    width: 120px;
  }
}

/* about */
@media (max-width: 575px) {
  .about {
    margin-top: 36px;
  }
}
.about .about-title .section-title {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .about .about-title .section-title {
    margin-bottom: 20px;
  }
}
.about .about-content .image-container {
  border-radius: 12px;
}
.about .about-content .about-preview {
  text-align: left;
  margin-top: 80px;
}
@media (max-width: 1199px) {
  .about .about-content .about-preview {
    margin-top: 0px;
  }
}
.about .about-content .about-preview .title {
  font-size: 36px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0.02rem;
  color: #fefefe;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .about .about-content .about-preview .title {
    font-size: 28px;
    line-height: 40px;
  }
}
@media (max-width: 575px) {
  .about .about-content .about-preview .title {
    font-size: 28px;
    line-height: 40px;
  }
}
.about .about-content .about-preview .para {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.02rem;
  color: #b9ab9d;
}
@media (max-width: 767px) {
  .about .about-content .about-preview .para {
    font-size: 18px;
    line-height: 28px;
  }
}
.about .about-item {
  margin-top: 80px;
}
@media (max-width: 1199px) {
  .about .about-item {
    margin-top: 40px;
  }
}
.about .about-item .card {
  border: 1px solid rgba(34, 25, 16, 0.5);
  transition: all 0.2s ease;
}
.about .about-item .card .icon {
  font-size: 30px;
  color: #ec7f13;
  transition: all 0.2s ease;
}
.about .about-item .card .title {
  margin-top: 16px;
  transition: color 0.2s ease;
}
.about .about-item .card .para {
  margin-top: 4px;
}
.about .about-item .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 991px) {
  .about .about-item .card {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .about .about-item .card .icon {
    margin-right: 16px;
  }
  .about .about-item .card .title {
    margin-top: 0;
  }
  .about .about-item .card .para {
    width: 100%;
    margin-top: 8px;
  }
}
@media (max-width: 767px) {
  .about .about-item .card .icon {
    font-size: 24px;
    margin-right: 8px;
  }
  .about .about-item .card .para {
    margin-top: 0;
  }
}

/* menu */
.menu .menu-title {
  margin-bottom: 16px;
}
.menu .menu-title .section-title {
  align-items: center;
}
.menu .menu-content {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .menu .menu-content {
    margin-bottom: 0;
  }
}
.menu .para {
  text-align: center;
}
.menu .menu-item .card {
  transition: all 0.2s ease;
}
@media (max-width: 991px) {
  .menu .menu-item .card {
    background-color: #221910;
  }
}
.menu .menu-item .card .menu__card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu .menu-item .card .menu__card-title .icon {
  margin-right: 12px;
  font-size: 20px;
  color: #ec7f13;
  transition: all 0.2s ease;
}
@media (max-width: 991px) {
  .menu .menu-item .card .menu__card-title {
    border-bottom: 1px solid rgba(254, 254, 254, 0.2);
  }
}
@media (max-width: 425px) {
  .menu .menu-item .card .menu__card-title {
    flex-direction: column;
    justify-content: center;
  }
  .menu .menu-item .card .menu__card-title .icon {
    margin-right: 0;
    font-size: 24px;
  }
}
.menu .menu-item .card .card-item {
  margin-top: 0;
  padding: 32px 8px;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  margin-bottom: 0;
}
.menu .menu-item .card .card-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(254, 254, 254, 0.2);
  pointer-events: none;
}
.menu .menu-item .card .card-item .item-preview {
  margin-right: 4px;
}
.menu .menu-item .card .card-item .item-preview .item-name {
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02rem;
}
@media (max-width: 425px) {
  .menu .menu-item .card .card-item .item-preview .item-name {
    text-align: center;
  }
}
.menu .menu-item .card .card-item .item-preview .item-desc {
  text-align: center;
}
@media (max-width: 425px) {
  .menu .menu-item .card .card-item .item-preview {
    margin-right: 0;
    margin-bottom: 4px;
  }
}
.menu .menu-item .card .card-item .item-price {
  color: #ec7f13;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02rem;
  transition: transform 0.2s ease;
}
@media (max-width: 425px) {
  .menu .menu-item .card .card-item .item-price {
    font-size: 18px;
    line-height: 20px;
  }
}
.menu .menu-item .card .card-item:last-child {
  padding-bottom: 0;
}
.menu .menu-item .card .card-item:last-child::after {
  display: none;
}
.menu .menu-item .card .card-item:hover {
  padding-left: 24px;
}
.menu .menu-item .card .card-item:hover .item-price {
  transform: scale(1.1);
}
@media (max-width: 991px) {
  .menu .menu-item .card .card-item {
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: #2c2117;
    border: 1px solid rgba(44, 33, 23, 0.3);
    border-radius: 8px;
    margin-top: 24px;
    flex-direction: row;
  }
  .menu .menu-item .card .card-item .title {
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.02rem;
    color: #fefefe;
    display: inline-block;
  }
  .menu .menu-item .card .card-item::after {
    display: none;
  }
  .menu .menu-item .card .card-item:last-child {
    padding-bottom: 24px;
  }
  .menu .menu-item .card .card-item:hover {
    padding-left: 36px;
  }
}
@media (max-width: 767px) {
  .menu .menu-item .card .card-item {
    padding: 12px 16px;
  }
  .menu .menu-item .card .card-item:hover {
    padding-left: 24px;
  }
  .menu .menu-item .card .card-item:last-child {
    padding-bottom: 12px;
  }
}
@media (max-width: 425px) {
  .menu .menu-item .card .card-item {
    flex-direction: column;
    padding: 16px 8px;
    padding-bottom: 16px;
  }
}
.menu .menu-item-left {
  height: 100%;
}
.menu .menu-item-left .card {
  height: 100%;
}
.menu .menu-item-right {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* visit */
.visit .visit-title {
  margin-bottom: 32px;
}
@media (max-width: 575px) {
  .visit .visit-title {
    margin-bottom: 24px;
  }
}
.visit .visit-info .info-item {
  width: 100%;
  display: flex;
  margin-bottom: 32px;
}
@media (max-width: 425px) {
  .visit .visit-info .info-item {
    margin-bottom: 20px;
  }
}
.visit .visit-info .info-item .icon {
  margin-top: 10px;
  margin-right: 16px;
  font-size: 24px;
  color: #ec7f13;
}
@media (max-width: 425px) {
  .visit .visit-info .info-item .icon {
    margin-top: 8px;
    font-size: 20px;
  }
}
.visit .visit-info .info-item .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.02rem;
  color: #fefefe;
}
@media (max-width: 425px) {
  .visit .visit-info .info-item .title {
    line-height: 32px;
  }
}
.visit .visit-info .info-item .info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.visit .visit-info .info-item .info.operating-hours {
  width: 200px;
}
.visit .visit-info .info-item .info span {
  color: #fefefe;
}
.visit .map-container {
  height: 100%;
  min-height: 400px;
  border-radius: 12px;
  overflow: hidden;
}

/* contact */
.contact {
  overflow: hidden;
}
@media (max-width: 575px) {
  .contact {
    margin-top: 32px;
  }
}
.contact .card {
  padding: 32px 48px;
}
@media (max-width: 767px) {
  .contact .card {
    padding: 24px 32px;
  }
}
@media (max-width: 425px) {
  .contact .card {
    padding: 24px;
  }
}
.contact .card .contact__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
  color: #fefefe;
}
@media (max-width: 767px) {
  .contact .card .contact__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 8px;
  }
}
.contact .card .para {
  margin-bottom: 16px;
}
.contact .card .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact .card .wrapper .contact-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.contact .card .wrapper .contact-form .form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.contact .card .wrapper .contact-form .form-item input {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 16px;
  background-color: #2c2117;
  border: 1px solid rgba(254, 254, 254, 0.3);
  border-radius: 8px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.02rem;
  color: #fefefe;
  transition: all 0.2s ease;
}
.contact .card .wrapper .contact-form .form-item input:hover {
  border-color: rgba(254, 254, 254, 0.5);
  background-color: rgb(60.7462686567, 45.5597014925, 31.7537313433);
}
.contact .card .wrapper .contact-form .form-item input:focus {
  outline: 1px solid rgba(254, 254, 254, 0.5);
  border-color: rgba(254, 254, 254, 0.5);
  background-color: rgb(60.7462686567, 45.5597014925, 31.7537313433);
}
.contact .card .wrapper .contact-form .form-item label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02rem;
  color: #fefefe;
  margin-bottom: 4px;
}
.contact .card .wrapper .contact-form .form-item textarea {
  min-height: 150px;
  width: 100%;
  resize: none;
  padding: 12px 16px;
  background-color: #2c2117;
  border: 1px solid rgba(254, 254, 254, 0.3);
  border-radius: 8px;
  font-size: 18px;
  /* line-height: 32px; */
  letter-spacing: 0.02rem;
  color: #fefefe;
  transition: all 0.2s ease;
}
.contact .card .wrapper .contact-form .form-item textarea:hover {
  border-color: rgba(254, 254, 254, 0.5);
  background-color: rgb(60.7462686567, 45.5597014925, 31.7537313433);
}
.contact .card .wrapper .contact-form .form-item textarea:focus {
  outline: 1px solid rgba(254, 254, 254, 0.5);
  border-color: rgba(254, 254, 254, 0.5);
  background-color: rgb(60.7462686567, 45.5597014925, 31.7537313433);
}
.contact .card .wrapper .contact-form .user-message {
  flex-grow: 1;
}
.contact .card .wrapper .contact-form .user-message textarea {
  flex-grow: 1;
}
.contact .card .wrapper .contact-form .submit {
  margin-top: 8px;
}
.contact .card .image {
  width: 100%;
  height: 100%;
  min-height: 480px;
  border-radius: 8px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .contact .card .image {
    min-height: 320px;
  }
}
@media (max-width: 425px) {
  .contact .card .image {
    min-height: 240px;
  }
}

/* footer */
.footer {
  width: 100%;
  height: 72px;
  border-top: 2px solid #2c2117;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .brand {
  padding-top: 4px;
  display: flex;
  align-items: center;
}
.footer .brand .icon {
  width: 28px;
  height: 32px;
  background-color: #ec7f13;
  border-radius: 4px;
  margin-right: 16px;
}
.footer .brand .brand-name {
  font-size: 20px;
  font-weight: 600;
  color: #fefefe;
}
.footer .social-media {
  display: flex;
  align-items: center;
}
.footer .social-media .social-media-list .link {
  color: #b9ab9d;
  font-size: 14px;
  letter-spacing: 0.02rem;
  margin: 0 12px;
  transition: all 0.2s ease;
  position: relative;
  padding: 4px 0;
}
.footer .social-media .social-media-list .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ec7f13;
  transition: width 0.2s ease;
}
.footer .social-media .social-media-list .link:hover {
  color: #ec7f13;
}
.footer .social-media .social-media-list .link:hover::after {
  width: 100%;
}
.footer .copy-right {
  color: #b9ab9d;
  font-size: 14px;
  letter-spacing: 0.02rem;
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: space-around;
    height: 160px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}/*# sourceMappingURL=style-sass.css.map */