@use "sass:color";

//rwd
@mixin rwd-lg{
    @media(max-width: 1199px){
        @content;
    }
}
@mixin rwd-md{
    @media(max-width:767px){
        @content;
    }
}
@mixin rwd-sm{
    @media(max-width:374px){
        @content;
    }
}

// color
$orange: #ec7f13;
$dark: #221910;
$lightDark: #2c2117;
$textMuted: #b9ab9d;
$white: #fefefe;

// font
%sectionTitle{
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
    color: $white;
}
%cardTitle{
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $white;
}
%lgPara{
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: color.adjust($white, $lightness: -10%)
}
%smPara{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $textMuted;
}
%smButton{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
}
%lgButton{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
}

// Component
%card{
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: $lightDark;
    border: 1px solid rgba($lightDark, 0.3);
    border-radius: 8px;

    @include rwd-lg(){
        padding: 24px;
    }
}
@mixin card{
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: $lightDark;
    border: 1px solid rgba($lightDark, 0.3);
    border-radius: 8px;

    @include rwd-lg(){
        padding: 24px;
    }
}

// utilities
@mixin absoluteCenter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// global
*{
    box-sizing: border-box;
    position: relative;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #221910;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #ccc;
}

// btn
.btn{
    @extend %smButton;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 8px;
    padding: 8px 20px;
    transition: all 0.3s;
    cursor: pointer;

    &.btn-1{
        background-color: $orange;
        border: 1px solid $orange;
        color: #000;
    }
    &.btn-2{
        backdrop-filter: blur(2px);
        border: 1px solid rgba($white, 0.5);
        color: $white;
    }
    &.btn-lg{
        @extend %lgButton;
        padding: 10px 24px;
    }
}
.btn-group-center{
    text-align: center;

    .btn{
        margin: 0 6px;
    }
}

/* image-container */
.image-container{
    width: 100%;
    overflow: hidden;

    &:before{
        content: '';
        display: block;
        width: 100%;
        padding-top: 75%;
    }
    .image{
        @include absoluteCenter();
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* block*/
.block{
    margin-bottom: 80px;

    @include rwd-lg(){
        margin-bottom: 60px;
    }

    .section-title{
        width: 100%;
        display: flex;
        flex-direction: column;

        .title{
            @extend %sectionTitle;
        }
        &:after{
            content: '';
            width: 56px;
            height: 4px;
            background-color: $orange;
            border-radius: 2px;
        }
    }
}


/* navbar */
.header{
    margin-bottom:60px;
    border-bottom: 2px solid $lightDark;
    
    @include rwd-lg(){
        margin-bottom: 40px;
        margin-top: 10px;
        // padding: 0 40px;
    }
    .navbar{
        width: 100%;
        max-width: 1180px;
        height: 72px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        .brand{
            height: 100%;
            display: flex;
            align-items: center;
    
            .icon{
                width: 32px;
                height: 36px;
                background-color: $orange;
                border-radius: 4px;
                margin-right: 16px;
            }
            .brand-name{
                font-size: 24px;
                font-weight: 600;
                line-height: 60px;
                color: $white;
            }
        }
        .navbar-nav{
            height: 100%;
            display: flex;
            align-items: center;
    
            .nav-link{
                color: color.adjust($white, $lightness: -10%);
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 0.02em;
                padding: 20px;
    
                @include rwd-lg(){
                    display: none;
                }
            }
            .order-btn{
                margin-left: 16px;
                @include rwd-lg(){
                    margin-left: 0;
                }
            }
            .bar{
                display: none;
                font-size: 32px;
                margin-left: 8px;
                padding: 16px 12px;
    
                @include rwd-lg(){
                    display: block;
                }
            }
        }
    }
}

/* jumbotron */
.jumbotron{
    .image-container{
        border-radius: 16px;
        overflow: hidden;
        &:before{
            width: 100%;
            padding-top: 60%;

            @include rwd-md(){
                padding-top: 80%;
            }
        }
    }
    .jumbotron-preview{
        @include absoluteCenter();
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title{
        font-size: 60px;
        font-weight: 800;
        line-height: 100px;
        letter-spacing: -0.02em;
        color: $white;
    }
    .para{
        @extend %lgPara;
        text-justify: auto;
        text-align: center;
        margin-bottom: 48px;
        max-width: 800px;
        
        @include rwd-lg(){
            max-width: 600px;
        }
    }
}

/* about */
.about{
    .about-title{
        .section-title{
            margin-bottom: 40px;
        }
    }
    .about-content{
        .image-container{
            border-radius: 12px;
        }
        .about-preview{
            text-align: left;
            margin-top: 80px;

            @include rwd-lg(){
                margin-top: 0px;
            }

            .title{
                font-size: 36px;
                font-weight: 600;
                line-height: 72px;
                letter-spacing: 0.02em;
                color: $white;
                margin-bottom: 8px;
            }
            .para{
                font-size: 20px;
                line-height: 40px;
                letter-spacing: 0.02em;
                color: $textMuted;
            }
        }
    }
    .about-item{
        margin-top: 80px;

        @include rwd-lg(){
            margin-top: 40px;
        }

        .card{
            @extend %card;

            .icon{
                font-size: 30px;
                color: #ec7f13;
            }
            .title{
                @extend %cardTitle;
                margin-top: 16px;
            }
            .para{
                @extend %smPara;
            }

            @include rwd-lg(){
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                .icon{
                    margin-right: 16px;
                }
                .title{
                    margin-top: 0;
                }
                .para{
                    width: 100%;
                    margin-top: 8px;
                }
            }
        }
    }
}

/* menu */
.menu{
    .menu-title{
        margin-bottom: 16px;

        .section-title{
            align-items: center;
        }
    }
    .menu-content{
        margin-bottom: 32px;

    }
    .para{
        @extend %smPara;
        text-align: center;
    }
    .menu-item{
        .card{
            @extend %card;

            @include rwd-lg(){
                background-color: $dark;
            }

            .menu__card-title{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                
                .icon{
                    margin-right: 12px;
                    font-size: 20px;
                    color: $orange;
                }
                .title{
                    @extend %cardTitle;
                }

                @include rwd-lg(){
                    border-bottom: 1px solid rgba($white, 0.2);
                }
            }
            .card-item{
                margin-top: 32px;
                padding-bottom: 16px;
                border-bottom: 1px solid rgba($white, 0.2);
                display: flex;
                align-items: center;
                justify-content: space-between;

                @include rwd-lg(){
                    @include card();
                    margin-top: 24px;
                    flex-direction: row;
                }
                &:last-child{
                    border: 0;
                }
                .item-name{
                    color: $white;
                    font-size: 18px;
                    letter-spacing: 0.02em;
                }
                .item-desc{
                    @extend %smPara;
                }
                .item-price{
                    color: $orange;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                }

            }
        }
    }
    .menu-item-left{
        height: 100%;

        .card{
            height: 100%;
        }
    }
    .menu-item-right{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

/* visit */
.visit{
    .visit-title{
        margin-bottom: 32px;
    }
    .visit-info{
        .info-item{
            width: 100%;
            display: flex;
            margin-bottom: 32px;

            .icon{
                margin-top: 10px;
                margin-right: 16px;

                font-size: 24px;
                color: $orange;
            }
            .title{
                @extend %cardTitle;
            }
            .info{
                @extend %smPara;
                display: flex;
                justify-content: space-between;
                width: 100%;

                &.operating-hours{
                    width: 200px;
                }
                span{
                    color: $white;
                }
            }
        }
    }
    .map-container{
        height: 100%;
        min-height: 400px;
        border-radius: 12px;
        overflow: hidden;
    }
}

/* contact */
.contact{
    overflow: hidden;

    .card{
        @extend %card;
        padding: 32px 48px;

        .title{
            @extend %sectionTitle;
        }
        .para{
            @extend %smPara;
            margin-bottom: 16px;
        }
        .wrapper{
            height: 100%;
            display: flex;
            flex-direction: column;
            
            .contact-form{
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                flex-grow: 1;

                .form-item{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 16px;
                    input{
                        display: inline-block;
                        vertical-align: top;
                        box-sizing: border-box;
                        width: 100%;
                        padding: 8px 16px;
                        background-color: $lightDark;
                        border: 1px solid rgba($white, 0.3);
                        border-radius: 8px;
                        font-size: 18px;
                        line-height: 32px;
                        letter-spacing: 0.02em;
                        color: $white;
    
                        &:focus{
                            outline: 1px solid rgba($white, 0.5);
                        }
                    }
                    label{
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.02em;
                        color: $white;
                        margin-bottom: 4px;
                    }
                    textarea{
                        // box-sizing: border-box;
                        min-height: 150px;
                        // max-height: 208px;
                        width: 100%;
                        resize: none;
                        padding: 12px 16px;
                        background-color: $lightDark;
                        border: 1px solid rgba($white, 0.3);
                        border-radius: 8px;
                        font-size: 18px;
                        /* line-height: 32px; */
                        letter-spacing: 0.02em;
                        color: $white;
    
                        &:focus{
                            outline: 1px solid rgba($white, 0.5);
                        }
                    }
                }
                .user-message{
                    flex-grow: 1;
                    
                    textarea{
                        flex-grow: 1;
                    }
                }
                .submit{
                    margin-top: 8px;
                }
            }
        }
        .image{
            width: 100%;
            height: 100%;
            min-height: 480px;
            border-radius: 8px;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

/* footer */
.footer{
    width: 100%;
    height: 72px;
    border-top: 2px solid $lightDark;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .icon{
        width: 28px;
        height: 32px;
        background-color: $orange;
        border-radius: 4px;
        margin-right: 16px;
    }
    .brand-name{
        font-size: 20px;
        font-weight: 600;
        line-height: 60px;
        color: $white;
    }
    .social-media{
        display: flex;
        align-items: center;

        .social-media-list{
            .link{
                color: $textMuted;
                font-size: 14px;
                letter-spacing: 0.02em;
                margin: 0 12px;
            }
        }
    }
    .copy-right{
        color: $textMuted;
        font-size: 14px;
        letter-spacing: 0.02em;
    }
}